


body {
    background-image: url("../images/beige-tiles.png");
    background-color: #4aaaa5;
    width: 100%;
    position: relative;
}
/* Headers */   /* Navigation Bar */

.header {
    width: 100%;
    top: 0;
    position: absolute;
    background-color: #ffffff;
    border-bottom: 0.25em solid #cccccc;
}

/*960px = 60em*/
.navbar {
    max-width: 60em;
    margin: auto;
    padding: 0;
    display: block;
}

.navbar-name {
    float: left;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;
    background: #4aaaa5;
    padding: 1em;
    margin: 0;
    color: white;
}
a.nav {
    float: right;
    text-align: center;
    text-decoration: none;
    font-family: importHelveticaNeue, Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: 1.5em;
    padding: 20px;
    margin: 2.2em 0 0;
}

@font-face {
    font-family: importHelveticaNeue;
    src: url(HelveticaNeue-Roman.otfß)
}

a.nav:hover {
    background-color: rgb(56, 55, 55, 20%); /*highlight text when hover mouse over*/
}


/* Main Content width is 960px = 60em */
section.main-section {
    clear: both;
    box-sizing: content-box;
    max-width: 55.5em; /*60em - 4em - 0.5em*/
    margin: auto; 
    position: relative;
    padding: 0px 2em 2em;
    top: 12em;
    border: 0.25em solid #dddddd;
    background-color: #ffffff;
}

h1.main-section-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;
    margin-top: 50px;
    color: #4aaaa5;
}

hr.vertical-line {
    border-top: 3px solid #dddddd;
}

img {
    float: left;
    padding: 20px 20px 20px 0;

}
article.content {
    font-family: importHelveticaNeue, Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: 1.5em;
    letter-spacing: 1px;
    line-height: 1.6; /*1.6 is recommended universal line height*/
    padding: 0;
    
}

footer {
    position: absolute;
    width: 100%;
    bottom: -35em;
    padding: 30px 0 10px 0;
    font-family: importHelveticaNeue, Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #aca9a9;
    text-align: center;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
}