


body {
    background-image: url("/Users/tracynguyen/Desktop/Google Drive Macbook/UC Berkeley Bootcamp/Github Assignments/2. Building a Wireframe/Basic-Portfolio/assets/images/beige-tiles.png");
    background-color: #4aaaa5;
    width: 100%;
}
/* Headers */   /* Navigation Bar */

.header {
    width: 100%;
    top: 0;
    position: absolute;
    background-color: #ffffff;
    border-bottom: 3px solid #cccccc;
}

.navbar {
    max-width: 960px;
    margin: auto;
}

.navbar-name {
    float: left;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;
    background: #4aaaa5;
    padding: 37px;
    margin: 0;
    color: white;
}
a.nav {
    float: right;
    text-align: center;
    text-decoration: none;
    font-family: importHelveticaNeue, Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: 1.7em;
    padding: 20px;
    margin: 30px 0px 20px 10px;
}

@font-face {
    font-family: importHelveticaNeue;
    src: url(HelveticaNeue-Roman.otfß)
}

a.nav:hover {
    background-color: rgb(56, 55, 55, 20%); /*highlight text when hover mouse over*/
}


/* Main Content width is 960px */
section.top-section {
    clear: both;
    max-width: 900px;
    margin: auto; 
    position: relative;
    padding: 0px 30px;
    top: 170px;
    border: 3px solid #dddddd;
    background-color: #ffffff;
}

h1.about-me {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;
    margin-top: 50px;
    color: #4aaaa5;
}

hr.vertical-line {
    border-top: 3px solid #dddddd;
}

img {
    float: left;
    padding: 20px 20px 20px 0;

}
article.content {
    font-family: importHelveticaNeue, Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: 1.7em;
    letter-spacing: 1px;
    line-height: 1.6; /*1.6 is recommended universal line height*/
    padding: 0;
    
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 30px 0 10px 0;
    font-family: importHelveticaNeue, Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #aca9a9;
    text-align: center;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
}